<%-include('../partials/head')-%>
<main class="contenedor-global">
  <h1 class="titulo">INICIAR REGISTRO</h1>
  <section class="section-registro">
    <article class="contenedor-formulario">
      <form
        action="/registro"
        method="POST"
        enctype="multipart/form-data"
        class="contenedor-padre-registro"
      >
        <div class="campos-formulario-registro">
          <label for="correo">
            <input
              class="dir inputRegister"
              type="email"
              name="correo"
              id="correo"
              placeholder="Example@gmail-com"
              value="<%= locals.oldData ? oldData.correo: null %>"
            />
            <% if(locals.errors && errors.correo) { %>
            <div>
              <p style="color: brown"><%=errors.correo.msg%></p>
            </div>
            <% } %>
          </label>

          <label for="pass">
            <input
              class="pass inputRegister"
              type="password"
              name="password"
              id="pass"
              placeholder="Password"
            />
            <% if(locals.errors && errors.password) { %>
            <div>
              <p style="color: brown"><%=errors.password.msg%></p>
            </div>
            <% } %>
          </label>

          <label for="nombre">
            <input
              class="nombre inputRegister"
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre"
              value="<%= locals.oldData ? oldData.nombre: null %>"
            />
            <% if(locals.errors && errors.nombre) { %>
            <div>
              <p style="color: brown"><%=errors.nombre.msg%></p>
            </div>
            <% } %>
          </label>

          <label for="apellido">
            <input
              class="apellido inputRegister"
              type="text"
              name="apellido"
              id="apellido"
              placeholder="Apellido"
              value="<%= locals.oldData ? oldData.apellido: null %>"
            />
            <% if(locals.errors && errors.apellido) { %>
            <div>
              <p style="color: brown"><%=errors.apellido.msg%></p>
            </div>
            <% } %>
          </label>

          <label for="imagen">
            <input
              class="imagen inputRegister"
              type="file"
              name="avatar"
              id="imagen"
            />
            <% if(locals.errors && errors.avatar) { %>
            <div>
              <p style="color: brown"><%=errors.avatar.msg%></p>
            </div>
            <% } %>
          </label>
        </div>

        <div class="but-register">
          <button type="submit" class="but-registro">Registrar</button>
        </div>
      </form>
    </article>
  </section>
</main>
<%- include('../partials/footer')-%>
